/* NAV ITEM */
li.nav-item {
  list-style: unset !important;
}

/* DETAIL MOVIE TV */
.card-poster {
  /* margin-bottom: -12px;
  width: 100%;
  color: antiquewhite;
  position: relative;
  top: 29px; */
  /* padding-top: 5px; */
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgb(232, 3, 3) 15%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 8%,
    rgb(0 0 0 / 57%) 24%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 59%,
    rgb(0 0 0 / 63%) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
.card-text{
  font-size: 11px;
  margin-bottom: -12px;
  text-shadow: 0 0 5px black;
  font-weight: 500;
}
.vote{
  padding-left: 5px;
  font-size: 10px;
}
.card-title{font-size: 15px !important;}
table.table.table-hover.table-sm {
  border: 1px solid rgb(155 155 155 / 0%) !important;
  font-size: 14px;
}
.bintang-review{font-size: 20px;color: yellow;}
.title-head {
  font-size: 18px !important;
  text-align: left;
  margin: 0 !important;
}
.card-season {
  font-size: 1.4rem;
  font-family: system-ui;
  display: flex;
  width: 36px;
  height: 36px;
  color: #000000;
  /* text-shadow: 0 0 3px rgb(0 0 0); */
  position: relative;
  font-weight: 900;
  top: 214px;
  left: 182px;
  border-radius: 100%;
  background-color: #ffff00;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 2px yellow;
}
.detail-name {
  padding: 0px !important;
  width: 30%;
  text-align: left;
}
.tagbox{
  color: #00b3ff;
    font-weight: 400;
    text-shadow: 0 0 1px #07ebef;
}
.titik2 {
  padding: 0 5px 0 0 !important;
  text-align: left;
}
.detail-isi {
  padding: 0px 0px 0px 6px !important;
  width: 70%;
  text-align: left;
  border-left: 1px dotted #80808040;
}
.table td,
.table th {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e600;
}
h2.ng-binding {
  cursor: pointer;
}
@media (max-width: 767px) {
  .card-season {
    top: 407px;
    left: 307px;
  }
}

/* CRITIC REVIEW */
div.teaser {
  /* padding-left: 0; */
  /* padding-right: 0; */
  width: 100%;
    /* padding-top: 20px; */
    margin: 10px 0 0 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #80808021;
}
div.grouped {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  align-items: center;
  background-color: #80808069;
  border-radius: 5px 5px 0 0;
}
div.card {
  width: 100%;
  margin: 13px auto;
  /* border: 1px solid rgba(var(--lightGrey), 1);
  border-radius: var(--imageBorderRadius); */
}
img.avatar-critic {
  width: 64px;
  height: 64px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
div.avatar-critic {
  width: 64px;
  margin-right: 20px;
}
div.review_container div.info-critic {
  width: 100%;
}
div.rating_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
div.rating-critic {
    height: 25px;
    display: block;
    padding: 0px 8px;
    margin-left: 14px;
    font-size: 1em;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    background-color: #000;
    border-color: #ccc;
    border-radius: 5px;
    color: #fff;
    align-content: center;
    align-items: center;
}
.authorName {
  margin: 0 !important;
}
.rounded {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
}
.btn-showLest-more {
  border: none;
  border-radius: 5px;
  font-family: cursive;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.written {
  font-size: 13px !important;
}

/* BACKDROP & POSTER IMAGE */
.img-posters,
.img-backdrops {
  width: 100%;
  margin-bottom: 10px;
}
/* Tata letak untuk tampilan PC atau laptop */
.row.ulIMGposter {
  display: flex;
  flex-wrap: wrap;
  padding-top:10px;
}
.ulIMGbackdrop { padding-top:15px; }
.col-md-3 {
  /*   flex-basis: 25%;
  max-width: 25%; */
  padding: 5px;
}

/* Tata letak untuk tampilan mobile */
@media screen and (max-width: 768px) {
  /*   .row.ulIMGposter {
    display: block;
  } */

  .col-md-3 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

/* STAR DETAIL */
.actor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actor-item {
  flex: 1 0 200px;
    margin: 10px 0px 10px 0px;
    text-align: initial;
}
.img-cast,
.noPosterCast {
  width: 100px;
  height: 145px;
}
.actor-info {
  margin-top: 8px;
}
.actorName {
  font-size: 14px;
  /* width: 100px; */
  line-height: 16px;
  font-family: "Font Awesome 5 Brands";
  font-weight: 600;
  padding-bottom: 3px;
  text-align: center;
}
.actorJob {
  font-size: 12px;
  /* width: 100px; */
  line-height: 16px;
  color: #0066ff;
  font-weight: 600;
  text-align: center;
}
.box-img-ac {
  width: 110px;
    height: 210px;
    margin: 0;
    padding: 10px 6px 10px 6px;
}

/* CREWS DETAILS */
.crewName {
  font-size: 14px;
  /* width: 100px; */
  line-height: 16px;
  font-family: "Font Awesome 5 Brands";
  font-weight: 600;
  padding-bottom: 3px;
  text-align: center;
}
.noPosterCrew,
.img-crew {
  width: 90px;
  height: 124px;
  border: 2px solid #00a3ff;
  border-radius: 5px;
}
.isiJobCrew {
  color: #0317ff;
}
.isiJobNameCrew {
}
.img-crew-container {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.crew-details {
  float: left;
  font-size: 11px;
  font-weight: 600;
}
.crew-item {
  flex: 1 0 200px;
  margin: 18px;
  text-align: center;
}
.crewJob,
.crewName {
    /* width: 195px; */
    text-align: left;
    border-bottom: 1px dotted;
}
.crewJob {
  color: #0c7c93;
}
@media (max-width: 768px) {
  .colmd6Crew {
    width: 50%;
  }
}
/* BUTTON MORE */
/* .div-btn-show {
  text-align: center;
  padding-bottom: 30px;
} */
.btn-show {
  color: rgb(22 122 198);
  font-weight: 700;
  font-family: system-ui;
  margin-bottom: 30px;
  text-align: center;
}
.btn-show:hover {
  color: grey;
}
/* EPISODE LIST */
.media {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}

.imgEpisode-wrapper {
  position: relative;
}

.imgEpisode {
  width: 130px;
  max-width: 130px !important;
  height: 75px;
  display: block;
  border-radius: 4px;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-cover:hover {
  opacity: 1;
}

.icon-wrapper {
  color: #fff;
  font-size: 24px;
}

.media-episode-body {
  display: table-cell;
  vertical-align: top;
}

.media-episode-heading {
  margin: 0;
  font-size: 15px !important;
}

#epsRunTime {
  margin-left: 10px;
}

.label {
  display: inline-block;
  margin: 3px 0;
  padding: 5px 5px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #133f6eb0;
  border-radius: 4px;
}

.plot {
  /* margin-top: 10px; */
  font-size: 13px;
}
.ulEpisode-list {
  padding-left: 0rem !important;
}
/* For mobile devices, hide the plot text */
@media (max-width: 767px) {
  .nomobile {
    display: none;
  }
}
/* li.ng-binding.ng-scope:hover {
  background-color: #8080801c;
}
p.ng-binding.epsAirdate {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 20px;
  border-radius: 5px;
  width: 70px;
  background-color: #fffe003b;
  text-align: center;
}
span#epsRunTime.ng-binding {
  font-size: 12px !important;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #fffe003b;
  text-align: center;
} */

/* TRAILER */
#trailerContainer {
  position: relative;
  padding-bottom: 56.25%; /* Menyesuaikan rasio aspek video YouTube */
  height: 0;
}

#trailerContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.ytp-gradient-top {
  display: none !important;
}
.trailerYt {
  padding: 10px 0;
}
@media (max-width: 768px) {
  #trailerContainer {
    padding-bottom: 65%; /* Atau gunakan nilai lain sesuai kebutuhan */
  }
}
/*UMUM-CSS*/
.h2movieTv {
  margin: unset !important;
  position: unset !important;
  height: unset !important;
  width: unset !important;
  line-height: unset !important;
  border-left: unset !important;
  border-bottom: unset !important;
  padding: unset !important;
}

/* NAVBAR STCKY */
#navBar {
  position: relative;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
    padding-top: 15px;
}

/* ON THE AIR */
#now-playing-movies .movie-item,
#airing-today-tv .tv-item,
#on-the-air-tv .tv-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  max-width: 200px;
}

#now-playing-movies .movie-item img,
#airing-today-tv .tv-item img,
#on-the-air-tv .tv-item img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
}

#now-playing-movies .movie-item h3,
#airing-today-tv .tv-item h3,
#on-the-air-tv .tv-item h3 {
  /* margin: 0;
        position: relative;
        bottom: 65px;
        color: white; */
  font-size: 15px;
  /* word-break: break-word;
        width: 175px;
        height: 55px;
        padding: 5px;
        text-align: center;
        background: #00000045;
        border-radius: 0 0 6px 6px; */
}
.title-onAir {
  margin: 0;
  position: absolute;
  color: white;
  font-size: 15px;
  word-break: break-word;
  width: 173px;
  padding: 5px;
  text-align: center;
  background: #00000045;
  border-radius: 6px 6px 0 0;
}
.on-provider {
  margin: 0;
  color: #00ffff;
  word-break: break-word;
  font-size: 13px;
}
.d-flex,
.flex-wrap {
  justify-content: center;
}
@media (min-width: 768px) {
  #now-playing-movies .movie-item {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
}
@media screen and (max-width: 768px){
div.movie-container.col-md-3, div.tvshow-container.col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
}
  .movie-title, .tvshow-title {
    width: 92px;
}
}
